<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rankingu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Materia.GraciasActivity" />
        <activity android:name=".ui.Materia.ReseñaActivity" />
        <activity android:name=".ui.Materia.WarningActivity" />
        <activity android:name=".ui.Materia.MateriaActivity" />
        <activity android:name=".ui.SignUp.SignUp_Estudiante" />
        <activity android:name=".ui.SignUp.SignUp_Profesor_AgregarMateriasSuccess" />
        <activity android:name=".ui.SignUp.SignUp_Profesor_AgregarMaterias" />
        <activity android:name=".ui.SignUp.SignUp_Profesor" />
        <activity android:name=".ui.SignUp.SignUp" />
        <activity android:name=".ui.Search.SearchActivity" />
        <activity android:name=".ui.Search.Search_Materia" />
        <activity android:name=".ui.Search.Search_Materia_Carrera" />
        <activity android:name=".ui.Search.Search_Profesor" />
        <activity android:name=".ui.Enroll.ConflictActivity" />
        <activity android:name=".ui.Enroll.EnrollActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>